* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.text {
  padding: 20px;
  color: gray;
}

main {
  width: 840px;
  margin: 50px auto;
}

.logo1 {
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  color: gray;
}

.logo2 {
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  color: gray;
}

.logo3 {
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  color: gray;
}

.logo4 {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  color: gray;
}
